<style>
    .imagg img {
        width: 320px;
    }

    .imagg {
        display: flex;
        max-width: 1200px;
        flex-wrap: wrap;
        width: 100%;
    }

</style>

<div class="w3-container w3-padding-64 w3-white w3-lightscale w3-xlarge" id="photos">
    <div class="w3-content">
        <div class="imagg">

            <img src="~/Images/photo_2023-05-31_23-34-06.jpg" />
            <img src="~/Images/photo_2023-05-31_23-34-51.jpg" />
            <img src="~/Images/photo_2023-05-31_23-35-04.jpg" />
            <img src="~/Images/photo_2023-05-31_23-35-38.jpg" />
            <img src="~/Images/photo_2023-05-31_23-34-34.jpg" />
            <img src="~/Images/photo_2023-05-31_23-35-28.jpg" />
            <img src="~/Images/photo_2023-05-31_23-35-38.jpg" />
            <img src="~/Images/photo_2023-05-31_23-35-48.jpg" />
            <img src="~/Images/photo_2023-05-31_23-35-38.jpg" />
            <img src="~/Images/photo_2023-06-01_18-47-01.jpg" />
            <img src="~/Images/photo_2023-06-01_18-47-14.jpg" />
            <img src="~/Images/photo_2023-06-01_18-47-28.jpg" />

            @*<div class="col-md-4">
            <div class="card mb-4 shadow-sm" style="width: 18rem;">

            <div class="card-body">
            <img src="./Images/photo_2023-05-31_23-34-23.jpg" />
            </div>
            </div>
            </div>
            *@

        </div>

    </div>
</div>