<div class="col-md-4">
    <div class="card mb-4 shadow-sm" style="width: 18rem;">

        <div class="card-body">
            <h2 class="card-title">Water Day </h2>
            
            <div class="card-footer text-center">

                <a asp-action="WaterDay" asp-controller="camp" class="btn btn-sm btn-outline-secondary">See Photos</a>
                </div>
        </div>
    </div>
</div>

<div class="col-md-4">
    <div class="card mb-4 shadow-sm" style="width: 18rem;">

        <div class="card-body">
            <h2 class="card-title">Buhe</h2>

            <div class="card-footer text-center">

                <a asp-action="Buhe" asp-controller="camp" class="btn btn-sm btn-outline-secondary">See Photos</a>
            </div>
        </div>
    </div>
</div>









