@using TheChampions.Models;
@model Activity;
@{
    Layout = "_Layout";
}

<div class="container">
    <h3>@Html.DisplayFor(model => model.activityname)</h3>
    <div class="row">

        <h2>Here More Details about the activities planned to be given by the institution</h2>

    </div>
    <hr />
    
    <div class="col-sm-10">
        <a asp-controller="Activity" asp-action="ListActivity" class="btn btn-primary bm-2">Back</a>
    </div>
</div>